<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/change_password/">Change Password</a><br>
<a href="/myapp/add_student">Add Student</a><br>
<a href="/myapp/view_details">View Students</a><br>
<a href="/myapp/view_attendance">View Attendance</a><br>
<a href="/myapp/edit_student">Edit Student</a><br>
<a href="/myapp/login">Log Out</a><br>
<a href=""></a><br>
<a href=""></a><br>
<a href=""></a><br>
<a href=""></a><br>
<a href=""></a><br>
<a href=""></a><br>
</body>
</html>